body {
  font-size: 17px;
  font-family: Arial;
  background-image: url("images/footer-image.jpg");
  background-color: black;
}
.container {
  background-color: #1b447f;
  border: 2px solid #ecb722;
  display: block;
  height: 150px;
  text-align: center;
  margin:0;
  padding:0;
  font-size: 20px;
}
a {
  color: white;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.derek {
  display: block;
  background-color: #1b447f;
  padding-top: 30px;
  border: 2px solid #ecb722;
  padding: 20px;
  width: 320px;
}
.amy {
  display: block;
  background-color: #1b447f;
  padding-top: 30px;
  border: 2px solid #ecb722;
  padding: 20px;
  width: 320px;
}
.nathan {
  display: block;
  background-color: #1b447f;
  padding-top: 30px;
  border: 2px solid #ecb722;
  padding: 20px;
  width: 320px;
}
.giap {
  display: block;
  background-color: #1b447f;
  padding-top: 30px;
  border: 2px solid #ecb722;
  padding: 20px;
  width: 320px;
}
.classes {
  display: block;
  background-color: #1b447f;
  padding-top: 30px;
  border: 2px solid #ecb722;
  padding: 20px;
  width: auto;
  text-align: center;
}
.p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-info {
  display: block;
  background-color: #1b447f;
  padding-top: 30px;
  border: 2px solid #ecb722;
  padding: 40px;
  width: auto;
  text-align: center;
}
.bio-image {
  text-align:center;
  padding-bottom:10px;
}
footer {
border: 2px solid #1b447f;
}
.bio-info {
  color: #ecb722;
  font-size: 24px;
}
.grid-container {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: auto;
  background-color: #1b447f;
  padding: 10px;
}

.grid-item {
  background-color: #1b447f;
  border: 1px solid #ecb722;
  padding: 20px;
  font-size: 17px;
  text-align: center;
  color: white;
}
