  body {
    background-color: #03a3df;
    font-size: 17px;
    font-family: Arial;
  }
  h2 {
    color: white;
    font-family: Arial;
    font-size: 24px;
  }
  p {
      color: #444444;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 30px;
      margin-left: 30px;
  }
  .purple-text {
     color: hsl(240, 0, 0, .5);
  }
  .important {
    font-size: 25px;
  }
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
  }
  .centered {
    color: white;
    text-align: center;
    display:inline-block;
    margin: 3% auto;
    width: 100vw;
    float: right;
  }
  .center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  .column {
  float: left;
  width: 25%;
  padding: 5px;
  }
  .row::after {
  content: "";
  clear: both;
  display: table;
  }
  .img {
    max-width: 100%;
    height: auto;
  }
  .footer {
    background-image: url("pictures/footerImage.jpg"), url("pictures/archery-academy-logo-white.png");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
