body {
  font-size: 17px;
  font-family: Arial;
  background-image: url("images/footer-image.jpg");
  background-repeat: repeat;
  background-color: black;
  background-size: contain;
}
.container {
  background-color: #1b447f;
  border: 2px solid #ecb722;
  display: block;
  height: 150px;
  text-align: center;
  margin:0;
  padding:0;
  font-size: 20px;
}
.about {
  color: #ecb722;
}
.a{
  color: white;
}
.school-bio {
  display: block;
  justify-content: center;
  background-color: #1b447f;
  padding-top: 30px;
  border: 2px solid #ecb722;
  padding: 20px;
  width: 1500px;
  color: white;
  text-align: center;
  margin: auto;
}
.contact-info {
  display: block;
  background-color: #1b447f;
  padding-top: 30px;
  border: 2px solid #ecb722;
  padding: 20px;
  width: auto;
  text-align: center;
}
.iframe {
display: block;
margin: 0 auto;
}
.p {
  color: white;
}
.cog{
  color: white;
}
